# Hierarchical index in pandas

A composite key, in the context of relational databases, is a combination of two or more columns in a table that can be used to uniquely identify each row in the table. Uniqueness is only guaranteed when the columns are combined; when taken individually the columns do not guarantee uniqueness.

<code>hierarchical indexing = composit key</code>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("D://MasterCopy-Notes//Course Contents//CJC//Code//Practice//data//pandas_sales_hierarchical_indexing.csv",
                 index_col=["state","month"])

In [4]:
df.columns

Index(['eggs', 'salt', 'spam'], dtype='object')

In [5]:
df

             eggs  salt  spam
state month
CA    1        47  12.0    17
NY    1       221  89.0    72
      2        77  87.0    20
TX    1       132   NaN    52
      2       205  60.0    55
      1        22   2.0    24
CA    2       110  50.0    31

# Read index of dataframe

In [6]:
df.index

MultiIndex([('CA', 1),
            ('NY', 1),
            ('NY', 2),
            ('TX', 1),
            ('TX', 2),
            ('TX', 1),
            ('CA', 2)],
           names=['state', 'month'])

In [8]:
print(df.index.name)

None

In [9]:
df.index.name = "state_month_composit_key"

In [10]:
print(df.index.name)

state_month_composit_key

In [11]:
df.index.names

FrozenList(['state', 'month'])

In [12]:
df

             eggs  salt  spam
state month
CA    1        47  12.0    17
NY    1       221  89.0    72
      2        77  87.0    20
TX    1       132   NaN    52
      2       205  60.0    55
      1        22   2.0    24
CA    2       110  50.0    31

# Sort indexes

In [13]:
df = df.sort_index()
df

             eggs  salt  spam
state month
CA    1        47  12.0    17
      2       110  50.0    31
NY    1       221  89.0    72
      2        77  87.0    20
TX    1       132   NaN    52
      1        22   2.0    24
      2       205  60.0    55

### Reading
####  Using index method

In [14]:
df.loc['CA',1]

             eggs  salt  spam
state month
CA    1        47  12.0    17

In [15]:
df.loc[('CA',1),'salt']      # read single salt columns

state  month
CA     1        12.0
Name: salt, dtype: float64

In [21]:
df.loc[('CA',1),['salt','spam']]       # read multiple columns salt and spam

             salt  spam
state month
CA    1      12.0    17

In [ ]:
####  Using slice

In [22]:
df.loc['CA']

       eggs  salt  spam
month
1        47  12.0    17
2       110  50.0    31

In [23]:
df.loc['CA':'NY']

             eggs  salt  spam
state month
CA    1        47  12.0    17
      2       110  50.0    31
NY    1       221  89.0    72
      2        77  87.0    20

# Fancy

In [24]:
df.loc[(['CA','TX'],1),:]

             eggs  salt  spam
state month
CA    1        47  12.0    17
TX    1       132   NaN    52
      1        22   2.0    24

In [25]:
df.loc[(['CA','TX'],1),'eggs']   # read single column eggs

state  month
CA     1         47
TX     1        132
       1         22
Name: eggs, dtype: int64

In [26]:
df.loc[(['CA','TX'],1),['eggs','spam']] # read multiple column eggs

             eggs  spam
state month
CA    1        47    17
TX    1       132    52
      1        22    24

In [27]:
df.loc[('CA',[1,2]),:]      # read all rows having index state = CA and month 1,2

             eggs  salt  spam
state month
CA    1        47  12.0    17
      2       110  50.0    31